.khungViet{
    width: 250px;
    height: 70px;
}
body{
    background-image: url("../bvn/backgrounddictionary.jpg");
    width: 100%;
    height: 100%;
    padding:50px 50px;
    font-size:30px;
}
.nutDich{
    height: 40px;
    width: 70px;
}